{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% csrf_token %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->

                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!--[ daily sales section ] start-->
                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\bmw-5-series-sedan-POSI-modelfinder.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Bmw Serie-5 MC</h4>
                                            <h5>1500 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2022</span></p>
                                        <p>Kilometrage : <span>10 000</span></p>
                                        <p>Boite : <span> Automatique</span></p>
                                        <p>Nombre Portes : <span>4</span></p>
                                        <p>Carburant : <span>Gasoil</span></p>
                                    </div>
                                </div>
                            </div>  
                            
                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\audia8.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Audi A8 Hybrid</h4>
                                            <h5>600 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2017</span></p>
                                        <p>Kilometrage : <span>10 000</span></p>
                                        <p>Boite : <span> Manuelle</span></p>
                                        <p>Nombre Portes : <span>4</span></p>
                                        <p>Carburant : <span>Essence </span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\golf6.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Volkswagen Golf VI GTI</h4>
                                            <h5>400 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2013</span></p>
                                        <p>Kilometrage : <span>100 000</span></p>
                                        <p>Boite : <span> Manuelle</span></p>
                                        <p>Nombre Portes : <span>4</span></p>
                                        <p>Carburant : <span> Gasoil</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\clio4rsb.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Renault Clio 4 RS </h4>
                                            <h5>700 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2022</span></p>
                                        <p>Kilometrage : <span>70 000</span></p>
                                        <p>Boite : <span> Manuelle</span></p>
                                        <p>Nombre Portes : <span>4</span></p>
                                        <p>Carburant : <span> Gasoil</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\500.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Fiat 500</h4>
                                            <h5>350 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2020</span></p>
                                        <p>Kilometrage : <span>60 000</span></p>
                                        <p>Boite : <span> Automatique</span></p>
                                        <p>Nombre Portes : <span>2</span></p>
                                        <p>Carburant : <span>Essence </span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\colf7.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Volkswagen Golf 7 TDI</h4>
                                            <h5>600 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2021</span></p>
                                        <p>Kilometrage : <span>80 000</span></p>
                                        <p>Boite : <span> Automatique</span></p>
                                        <p>Nombre Portes : <span>4</span></p>
                                        <p>Carburant : <span>Essence </span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\tiguan.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Volkswagen Tiguan 2.0L</h4>
                                            <h5>700 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2022</span></p>
                                        <p>Kilometrage : <span>50 000</span></p>
                                        <p>Boite : <span> Automatique</span></p>
                                        <p>Nombre Portes : <span>4</span></p>
                                        <p>Carburant : <span> Gasoil</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\Golf7r.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Volkswagen 7.5 R</h4>
                                            <h5>700 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2022</span></p>
                                        <p>Kilometrage : <span>50 000</span></p>
                                        <p>Boite : <span> Automatique</span></p>
                                        <p>Nombre Portes : <span>4</span></p>
                                        <p>Carburant : <span> Gasoil</span></p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="-md-6 col-xl-4">
                                <div class="l_collection_item wow  fadeInUp animated" data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="car_img"><a href=""><img class="img-fluid"
                                                src="static\assets\images\polo.png" alt=""></a></div>
                                    <br />
                                    <div class="text_body">
                                        <a href="product-details.html">
                                            <h4>Volkswagen Polo</h4>
                                            <h5>700 Dhs</h5>
                                        </a>
                                        <p>Modele : <span>2022</span></p>
                                        <p>Kilometrage : <span>50 000</span></p>
                                        <p>Boite : <span> Manuelle</span></p>
                                        <p>Nombre Portes : <span>4</span></p>
                                        <p>Carburant : <span>Essence </span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}